<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 2: Responsive Design con Ionic Grid</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" size-xs="12" size-md="6" size-sm="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-xs="12" size-md="6" size-sm="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-xs="12" size-md="6" size-sm="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [routerLink]="['/tres']" expand="block" shape="round">
    Ejercicio 3
  </ion-button>
  <ion-button [routerLink]="['/uno']" expand="block" fill="clear" shape="round">
    Ejercicio 1
  </ion-button>
</ion-content>
