<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 4: Reorganización en Pantallas Medianas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="6" size-md="6" id="CasoA">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Caso A</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/img/img2.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="6" size-md="6" id="CasoB">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Caso B</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/img/img3.jpg" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [routerLink]="['/cinco']" expand="block" fill="clear" shape="round">
    Ejercicio 5
  </ion-button>
  <ion-button [routerLink]="['/tres']" expand="block" fill="clear" shape="round">
    Ejercicio 3
  </ion-button>
</ion-content>
