ion-card{
    text-align: center;
}
ion-col{
    display: -webkit-flex; /* Safari */
    display: flex;
}
@media (max-width: 768px ) {
    /* Estilos para pantallas con ancho máximo de 600px */
    #CasoB{
        order: 1;
    }
    #CasoA{
        order: 2;
    }
    #CasoB{
        -webkit-order: 1;
    }
    #CasoA{
        -webkit-order: 2;
    }
}
@media (max-width: 676px ) {
    /* Estilos para pantallas con ancho máximo de 600px */
    #CasoB{
        order: 1;
    }
    #CasoA{
        order: 2;
    }
    #CasoB{
        -webkit-order: 1;
    }
    #CasoA{
        -webkit-order: 2;
    }
}